<div id="content-area" class="recipes">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>Pork Loin, Potatoes, Sorrel, Poached Egg, Roast Onions. </h2><br />
				<h3>INGREDIENTS</h3>
				<h3><p>Pork Chop <br />

					Potatoes <br />

					Eggs <br />

					Red onions <br />

					Sorrel <br /><h3>

			</div>
			<div class="col-xs-6">
				<img alt="Pork" class="img-responsive" src="/assets/pork.jpg">
			</div>

			<div class="col-xs-3">
				<h2>STEPS</h2><br />
				<p>1.	Roast peppers and half the tomatoes in the oven  with a  little olive oil and salt. <br />
					2.	Fry a slice of Foccacia in olive oil.<br />
					3.	Cut raw tomatoes in half and remove stones from olives <br />
					4.	Fry the bream on the skin side until crispy if not completely cooked turn and finish.<br />
					5.	Arrange ingredients on plate finish with basil and edible flowers, Dress with olive oil.</p>
			</div>
		</div>
	</div>
</div>