<div id="content-area" class="recipes">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h3>Red Bream, Mediterranean Vegetables, Fried Foccacia and Edible Flowers</h3><br />
				<h2>INGREDIENTS</h2>
				<p>1 Fillet red bream <br />

					Slice Foccacia <br />

					2 Orange Peppers <br />

					Selection Heritage Tomatoes <br />

					Basil <br />

					Edible Flowers <br />

					Olives <br />

					Olive oil  <br />

				</div>
				<div class="col-xs-6">
					<img alt="Sea-Bream" class="img-responsive" src="/assets/sea-bream.jpg">
				</div>

				<div class="col-xs-3">
					<h2 class="notop">STEPS</h2><br />
					<p>1.	Roast peppers and half the tomatoes in the oven  with a  little olive oil and salt. <br />
						2.	Fry a slice of Foccacia in olive oil.<br />
						3.	Cut raw tomatoes in half and remove stones from olives <br />
						4.	Fry the bream on the skin side until crispy if not completely cooked turn and finish.<br />
						5.	Arrange ingredients on plate finish with basil and edible flowers, Dress with olive oil.</p>
					</div>
				</div>
			</div>
		</div>