<div id="content-area" class="recipes">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>Warm Chocolate and Raspberry Tart, Raw Cream.</h2><br />
				<h2>INGREDIENTS</h2>
				<p>For the pastry: <br />
					225g Plain Flour<br />
					110g Butter<br />
					80g Sugar<br />
					1 Large Egg.<br />
					1 Punnet Raspberries - Perry Court Farm<br />
					200g Dark chocolate<br />
					100g Butter<br />
					4 Whole Eggs <br />
					60g Caster sugar <br />
					150g flour<br />
					Raw cream <br /><h3>

				</div>
				<div class="col-xs-0">
					<img alt="Desert" class="img-responsive" src="/assets/desert.jpg">
				</div>

				<div class="col-xs-1">
					<h2 class="notop">STEPS</h2><br />
					<p>1.	Rub flour, butter and sugar together and bind with egg to make pastry. Leave to set in fridge for 30 minutes, Roll and line a 7inch tart case. Blind bake, then leave to cool. <br />
						2.	Melt chocolate and butter together, whisk eggs and sugar together and temper into chocolate. Sift in flour. <br />
						3.	Scatter half the Raspberries in the tart case and cover with the chocolate mix. Bake at 180⁰C for 45 minutes until mix is set. Remove from the oven leave to cool slightly, portion and serve with cream and a few extra raspberries. </p>
					</div>
				</div>
			</div>
		</div>