	<div id="content-area" class="recipes">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<h2>Pork Loin, Potatoes, Sorrel, Poached Egg, Roast Onions. </h2><br />
					<h3>INGREDIENTS</h3>
					<h3><p>Pork Chop <br />

						Potatoes <br />

						Eggs <br />

						Red onions <br />

						Sorrel <br /><h3>

					</div>
					<div class="col-xs-6">
						<img alt="Pork" class="img-responsive" src="/assets/pork.jpg">
					</div>

					<div class="col-xs-3">
						<h2 class="notop">STEPS</h2><br />
						<p>1.	Remove skin and fat from pork chop salt this for 45 min wash off and dry put in oven at 140 for 1 hr then turn oven up to 220 for 15 mins until skin crackles.<br />
							2.	Cook potatoes in salted water then crush with butter and salt add diced sorrel, poach egg for 3.5 mins. <br />
							3.	Cut onions in half and roast slowly on cut side in butter when coloured add a splash of water to butter, to emulsify and then add sorrel to this to make sauce <br />
							4.	Remove pork loin from bone to form medallions, pan fry until cooked carve and serve. </p>
						</div>
					</div>
				</div>
			</div>